@model IEnumerable<MoveisPlane APPRHjados.Models.Funcionario>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista funcionarios</h1>

    <a asp-action="Create" id="btnCreate" class="btn btn-primary" role="button">Criar funcionario</a>
<br>
<table class="table table-success table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Matricula)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cpf)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Setor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vencimento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Disponivel)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Matricula)
            </td>
           <td>
                @Html.DisplayFor(modelItem => item.cpf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Setor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vencimento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Disponivel)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.FuncionarioId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.FuncionarioId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.FuncionarioId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
